### ignore all ###
/*
/.**
/.emacs.d/*

### not ignore ###
!/.emacs.d/
!/.emacs.d/init.el
!/.emacs.d/lisp/
!/.emacs.d/lisp/**

!/.zshrc
!/.zprofile
!/.zshenv
!/.zlogin
!/.zlogout
!/.zsh_plugins.txt
!/.p10k.zsh

!/.Brewfile
!/.Brewfile_x86_64
!/.gitconfig
!/.tmux.conf
!/.asdfrc
!/setup.sh
!/_link.sh
!/_asdf.sh
!/_anyenv.sh
!/.env_sample

!/README.md
!/LICENCE
!.gitignore
!.gitignore_global
